@model IEnumerable<NhaThuocOnline.ViewModel.Category.CategoryVm>

@{
    ViewData["Title"] = "Index";
}

<div style="margin-left: 24px; margin-top: 100px">

<h3>Danh sách danh mục</h3>

<p>
    <a asp-action="Create" class="btn-primary btn">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                ParentId
            </th>
            <th>
                Tên danh mục
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Hình ảnh
            </th>
       
         
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            <td>
                        <a href="@item.ImagePath" download>Xem</a>
            </td>
         
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</div>
