@model IEnumerable<NhaThuocOnline.ViewModel.Coupon.CouponVm>

@{
    ViewData["Title"] = "Index";
}

<div style="margin-top: 100px; margin-left: 16px">

<h5 class="mt-4">Danh sách mã giảm giá</h5>

<p>
    <a asp-action="Create" class="btn btn-success">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
               Mã giảm giá
            </th>
            <th>
               Mô tả
            </th>
            <th>
                Số lần sử dụng
            </th>
            <th>
                Số lần tối đa
            </th>
            <th>
                Kiểu giảm giá
            </th>
            <th>
               Giá trị
            </th>
           
            <th>
                Ngày bắt đầu
            </th>
            <th>
               Ngày kết thúc
            </th>
            <th>
                Thao tác
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimesUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxUsage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountValue)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.CouponStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponEndDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</div>
