@using NhaThuocOnline.ViewModel.Common;
@model PagedResult<NhaThuocOnline.ViewModel.Product.ProductVm>

@{
    ViewData["Title"] = "Index";
}

<div class="row mt-4 p-4"></div>



<div class="mt-4 ml-4">

<h3 class="mt-4">Danh sách sản phẩm</h3>
<p>
    <a asp-action="Create" class="btn btn-success" >Thêm mới</a>
</p>
    <div class="my-4 ">
        <ul class="pagination">
            <li class="page-item @(ViewBag.PageIndex == 1 ? "disabled" : "")">
                <a href="@Url.Action("Index", new { pageIndex = ViewBag.PageIndex -1  })" class="page-link rounded">Trước</a>
            </li>
            @for (int i = 1; i <= ViewBag.PageCount; i++)
            {
                <li class="page-item @(i == ViewBag.PageIndex ? "active" : "") ">
                    <a href="@Url.Action("Index", new { pageIndex = i })" class="page-link rounded">@i</a>
                </li>
            }
            <li class="page-item @(ViewBag.PageIndex == ViewBag.PageCount ? "disabled" : "")">
                <a href="@Url.Action("Index", new { pageIndex = ViewBag.PageIndex + 1  })" class="page-link rounded">Sau</a>
            </li>
        </ul>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Tên
            </th>
            <th>
              Giá gốc
            </th>
            <th>
               Giá khuyến mại
            </th>
            <th>Tồn kho</th>
                <th>Đã bán</th>

            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.ProductName
            </td>
            <td>
                @item.RegularPrice
            </td>
            <td>
                @item.DiscountPrice
            </td>
            <td>
                100
            </td>
                    <td>
                        100
                    </td>
            <td>
                        @Html.ActionLink("Xem chi tiết", "Details", new {  id=item.Id }) 



                    </td>
        </tr>
}
    </tbody>
</table>
   
</div>
